.post {
  display: grid;
  justify-content: start;
  align-items: center;
  grid-template-areas:
    'logo name'
    'logo genres'
    'logo season'
    'logo description'
  ;
  grid-auto-rows: min-content;
  column-gap: 20px;
  background-color: rgb(33, 33, 33);
  padding: 20px;
  border-radius: 10px;

  &:hover {
    background-color: rgba(68, 68, 68, 0.638);
  }
}

.title {
  font-weight: 500;
  margin-bottom: 10px;
  font-size: 18px;
}

.name {
  grid-area: name;
  h3 {
    color: rgba(255, 255, 255, 0.558);
    font-size: 12px;
    font-weight: 400;
  }
}

.img {
  border-radius: 10px;
  grid-area: logo;
  max-width: 140px;
}

.genres {
  grid-area: genres;
  color: rgba(255, 255, 255, 0.558);
  font-size: 12px;
}

.season {
  grid-area: season;
  color: rgba(255, 255, 255, 0.558);
  font-size: 15px;

}

.description {
  grid-area: description;
  color: rgba(255, 255, 255, 0.897);
  font-size: 13px;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}