.video_player {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  padding: 50px;
}

.button { 
  // margin-left: 10px;
  background-color: rgba(255, 255, 255, 0.167);
  border: none;
  width: 35px;
  padding: 5px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-self: flex-start;
  &:hover {
    background-color: rgba(255, 255, 255, 0.366);
  }
}

.controls {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.anime_name {
  font-size: 15px;
}