.breadcrumbs {
  margin-top: 30px;
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
  a {
    font-size: 12px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.573);
  }
}